.about {
  width: 87%;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.about .boxImg {
  width: 40%;
}

.about .boxImg .backImg {
  width: 350px;
  height: 350px;
  background-color: black;
  border: 2px solid black;
  bottom: 10px;
  box-shadow: 0px 0px 1px black;
  position: relative;
}

.about .boxImg .backImg img {
  position: relative;
  width: 350px;
  height: 350px;
  object-fit: cover;
  left: 20px;
  top: 20px;
}

.about .aboutContain {
  width: 60%;
}

.about .aboutContain h2 {
  font: 46px "Bebas Neue";
  color: #03b1fc;
  text-align: center;
  text-shadow: -3px 2px 5px black;
}

.about .aboutContain P {
  font: 22px sans-serif;
  color: #fefefe;
  line-height: 22px;
  text-align: justify;
}
