.contain {
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 0px auto;
  backdrop-filter: blur(10px);
  overflow: hidden;
  border-radius: 3px;
}

.style:nth-child(1) {
  background-color: #ffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 30px;
}
.style:nth-child(2) {
  background-color: #ffff;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  height: 60px;
  right: -30px;
  bottom: 30px;
}

.nav {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 10px 90px;
  height: 60px;
  position: sticky;
  overflow: hidden;
  top: 20px;
  font-family: "Bebas Neue", sans-serif;
  background-color: rgba(43, 43, 43, 0.4);
  align-content: center;
  z-index: 2;
}

.nav-content {
  display: flex;
  align-items: center;
}

.brand-name {
  align-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  text-decoration: none;
}

.navBar {
  align-items: center;
  align-content: center;
}

.navBar ul {
  align-content: center;
  display: flex;
  gap: 26px;
  list-style: none;
}

.navBar ul li a {
  font-size: 26px;
  text-decoration: none;
  color: #ffff;
  transition: all 0.4s ease-in-out;
}

.navBar ul li a:hover {
  color: #03b1fc;
}
