.containLeft {
  background-color: none;
  width: 60%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 26px;
  left: 100px;
  text-transform: uppercase;
  margin: 100px auto;
  padding-left: 100px;
}

.containLeft .contain {
  line-height: 75px;
}
.containLeft .contain h1 {
  line-height: 25px;
}

.containLeft .contain h2 {
  color: #f3f3f3;
  font-size: 56px;
}

.containLeft .contain h1 a {
  color: #03b1fc;
  text-decoration: none;
  font-size: 66px;
}
.containLeft .contain p {
  padding: 10px 0px 0px;
  font-size: 24px;
  line-height: 22px;
  width: 92%;
  text-align: justify;
  color: #f3f3f3;
}
