.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 2;
  margin: 0px auto;
  align-items: center;
}

.Efect {
  position: absolute;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.technology {
  width: 20%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin: 0px auto;
  border-radius: 8px;
  padding: 5px 0px;
  opacity: 100%;
  overflow: hidden;
  position: relative;
  bottom: 30px;
}
.marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-content > * {
  margin-right: 20px; /* Adjust gap between items */
}

.clr-orage {
  color: rgb(255, 111, 0);
  opacity: 100%;
  transition: all 0.3s ease-in-out;
}

.clr-blue {
  color: rgb(68, 115, 255);
  opacity: 100%;
  transition: all 0.3s ease-in-out;
}

.clr-blueSea {
  color: rgb(16, 230, 230);
  transition: all 0.3s ease-in-out;
  opacity: 100%;
}

.clr-yellow {
  color: yellow;
  transition: all 0.3s ease-in-out;
}

.clr-orage:hover {
  scale: 1.1;
}

.clr-yellow:hover {
  scale: 1.1;
}

.clr-blue:hover {
  scale: 1.1;
}

.clr-blueSea:hover {
  scale: 1.1;
}

.contain-Main {
  position: relative;
  z-index: 3;
  height: 100vh;
}

.project {
  position: relative;
  z-index: 3;
  height: 100vh;
}

/* Hero left */

.containLeft {
  background-color: none;
  width: 60%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 26px;
  left: 100px;
  text-transform: uppercase;
  margin: 100px auto;
  padding-left: 100px;
}

.containLeft .contain {
  line-height: 75px;
}
.containLeft .contain h1 {
  line-height: 25px;
}

.containLeft .contain h2 {
  color: #f3f3f3;
  font-size: 56px;
}

.containLeft .contain h1 a {
  color: #03b1fc;
  text-decoration: none;
  font-size: 66px;
}
.containLeft .contain p {
  padding: 10px 0px 0px;
  font-size: 24px;
  line-height: 22px;
  width: 92%;
  text-align: justify;
  color: #f3f3f3;
}

/* HeroRight */

.rightImg {
  width: 40%;
  position: relative;
}

.rightImg .box img {
  width: 350px;
  left: 10px;
  top: 0px;
  z-index: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.box {
  z-index: -1;
  position: absolute;
  border: 10px solid white;
  overflow: hidden;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  bottom: -10rem;
  left: 50px;

  background-color: #03b1fc;
}

/* about Me */

.about {
  width: 87%;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.about .boxImg {
  width: 35%;
}

.about .boxImg .backImg {
  width: 350px;
  height: 350px;
  background-color: black;
  border: 2px solid black;
  bottom: 10px;
  box-shadow: 0px 0px 1px black;
  position: relative;
}

.about .boxImg .backImg img {
  position: relative;
  width: 350px;
  height: 350px;
  object-fit: cover;
  left: 20px;
  top: 20px;
}

.about .aboutContain {
  width: 65%;
}

.about .aboutContain h2 {
  font: 46px "Bebas Neue";
  color: #03b1fc;
  text-align: center;
  text-shadow: -3px 2px 5px black;
}

.about .aboutContain P {
  font: 22px sans-serif;
  color: #fefefe;
  line-height: 22px;
  text-align: justify;
}
