@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(30, 30, 30);
}

.class {
  background-size: cover;
  background-color: rgba(128, 128, 128, 0.2);
  height: 100vh;
}

.container {
  height: auto;
  padding: 0px;
  position: relative;
}

@keyframes marquee {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 300px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes marqueeTop {
  0% {
    background-color: rgba(60, 121, 174, 0.5);
    transform: translate(0px, 0px) rotate(0);
  }
  /* 25% {
    background-color: rgba(158, 181, 202, 0.5);
    left: 200px;
    top: 0px;
  } */
  50% {
    background-color: rgba(158, 181, 202, 0.5);
    transform: translate(1200px, 100px) rotate(100deg);
  }
  75% {
    background-color: rgba(60, 121, 174, 0.5);
    transform: translate(500px, 800px) rotate(150deg);
  }
  100% {
    background-color: rgba(60, 121, 174, 0.5);
    transform: translate(-200px, -100px) rotate(0);
  }
  /* from {
    transform: translate(-200px, -100px) rotate(0);
  }
  to {
    transform: translate(200px, 100px) rotate(100deg);
  } */
}

.boxBack {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 0;
  top: 100px;
  left: 200px;
  filter: blur(100px);
  animation-name: marquee;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.boxBack:nth-child(5) {
  position: fixed;
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
  background-color: rgba(60, 121, 174, 0.5);
  animation-name: marqueeTop;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.boxBack:nth-child(2) {
  position: fixed;
  left: 600px;
  width: 700px;
  height: 700px;
  background-color: rgba(158, 181, 202, 0.5);
}
.boxBack:nth-child(6) {
  position: fixed;
  top: 100px;
  left: 10px;
  width: 700px;
  height: 700px;
  background-color: rgba(60, 121, 174, 0.5);
}

.boxBack:nth-child(7) {
  position: fixed;
  top: -100px;
  left: 0px;
  width: 400px;
  height: 400px;
  background-color: rgba(158, 181, 202, 0.5);
}

.boxBack:nth-child(7) {
  position: fixed;
  top: -100px;
  left: 1000px;
  width: 400px;
  height: 400px;
  background-color: rgba(158, 181, 202, 0.5);
}
.boxBack:nth-child(8) {
  position: fixed;
  top: 100px;
  left: 1000px;
  width: 600px;
  height: 600px;
  background-color: rgba(60, 121, 174, 0.5);
}

.boxBack:nth-child(3) {
  position: fixed;
  top: 600px;
  left: 200px;
  width: 600px;
  height: 600px;
  background-color: rgba(158, 181, 202, 0.5);
}

.boxBack:nth-child(4) {
  position: fixed;

  top: 600px;
  left: 700px;
  width: 600px;
  height: 600px;
  background-color: rgba(60, 121, 174, 0.5);
}

.containNav {
  width: 100%;
  position: absolute;
  position: fixed;
  z-index: 4;
}
